$box-radius: 0px;
$navbar-height: 6rem;
$navbar-item-img-max-height: 5rem;
$primary: #776058;
$info: #c8b5a7;
$light: mix($info, #fff, 20);
$warning: #d67c81;
// $link: #000;
// $link: #d67c81;
@import '~/node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'bulma';
#intro {
	position: relative;
	top: 0;
	left: 0;
}
#intro .hero {
	background-image: url('~assets/img/yetti-profile-without-background.png');
	background-size: cover;
	background-position: center 25%;
	.hero-body {
		align-items: flex-end;
	}
	.container {
		// margin-top: 120%;
	}
	.button {
		// @include tablet {
		// 	@extend .has-top-margin;
		// }
	}
}
.has-top-margin {
	margin: 1.5rem 0 0 0;
}
// #events-toggle {
// 	padding: 1.5rem;
// 	border-radius: 0.5rem;
// 	// border: 1px solid $border;
// }
.footer .icon {
	margin: 0 0.5rem 0 0.5rem;
}
.has-left-margin {
	margin-left: 1rem;
}
.is-fullheight {
	max-height: 100vh;
}
.expanding-button {
	@extend .button;
	height: 100%;
}
nav {
	// box-shadow: 0 0 1px 0 $primary;
}
.card {
	.preview-container {
		cursor: pointer;
		.preview-gradient {
			background-image: linear-gradient(
				rgba(255, 255, 255, 0),
				rgba(255, 255, 255, 1)
			);
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
		.preview {
			@extend .is-relative;
			height: 100px;
			overflow: hidden;
			h3 {
				font-size: 1rem;
			}
		}
	}
}
#events img.flyer {
	max-width: 20rem;
}

#events .event {
	@include mobile {
		margin-bottom: 5rem;
	}
}
