$box-radius: 0px;
$navbar-height: 5rem;
$navbar-item-img-max-height: 3rem;
@import '~/node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'bulma';
#intro {
	position: relative;
	top: 0;
	left: 0;
}
#intro .hero {
	background-image: url('~assets/img/yetti-profile-without-background.png');
	background-size: cover;
	background-position: center 25%;
	.hero-body {
		align-items: flex-end;
	}
	.container {
		// margin-top: 120%;
	}
	.button {
		@mixin tablet {
			@extend .has-top-margin;
		}
	}
}
#about .hero {
	background-image: url('~assets/img/yetti-and-sons.jpg');
	background-size: cover;
	background-position: center;
	.hero-body {
		align-items: flex-end;
	}
}
.has-top-margin {
	margin: 1.5rem 0 0 0;
}
#events-toggle {
	padding: 1.5rem;
	border-radius: 0.5rem;
	border: 1px solid $border;
}
.footer .icon {
	margin: 0 0.5rem 0 0.5rem;
}
.has-left-margin {
	margin-left: 1rem;
}
.is-fullheight {
	max-height: 100vh;
}
