/*
	====================================
			Transition Effect
	====================================
*/
.widget_categories ul li a,
.widget_categories ul li:before,
.kode-contect-services2-cols figure,
.kode-traders-datail figure::before,
.form-submit input,
.kode-our-expert-cols.blog-page01 .kode-caption-expert,
.kode-our-expert-cols .simple-figure-caption,
.simple-figure-caption > a,
.kode-financial-blog2-cols .simple-figure-caption,
.wpcf7-form-control.wpcf7-submit,
.hotel-masonery-thumb .text ul li a,
.hotel-masonery-thumb .text ul li,
.hotel-masonery-thumb:before,
.hotel-masonery-thumb .text,
.home-page-form .submit-btn,
.kode-finacialService-slider .kodeslider-section .owl-item.active,
.kode-financial-buttons-medium a,
.kode-financial-silde a,
.kode-finacial-planing-service,
.kode-finacial-planing-service h5,
.kode-finacial-planing-service p,
.kode-finacial-planing-service a,
.kode-finacial-planing-service a i,
.kode-finacial-planing-service a i:after,
.kode-finacial-teams-cols .kode-finacial-social-icons ul li,
.kode-finacial-teams-cols .kode-finacial-social-icons ul,
.kode-finacial-teams-cols figure figcaption,
.kode-finacial-teams-cols figure figcaption a,
.kode-finacial-teams-cols .kode-finacial-social-icons,
.kode-finacial-teams-cols .kode-finacial-social-icons > a,
.kode-finacial-teams-cols .kode-finacial-social-icons ul li a,
.kode-finacial-teams-cols figure:before,
.kode-financial-pricetable-cols,
.kode-financial-pricetable-cols .kode-financial-price-bgcolor,
.kode-financial-pricetable-cols > a,
.kode-financial-consulting a,
.kode_financial_work_fig_1 figure,
.kode_financial_work_caption,
.kode_financial_work_fig_1 figure:after,
.kode_financial_work_caption a,
.kode_financial_view a,
.kode_financial_business_caption a,
.kode_financial_business_caption p,
.kode_financial_business_caption h5,
.kode_financial_business_caption:before,
.kode_financial_business_caption,
.kode_financial_business_fig,
.kode_financial_read a,
.headertop-bar-2 ul li > .kode-dropdwon2,
.headertop-bar-2 ul > li,
.headertop-bar-2 ul > li > a,
.headertop-bar-2 ul li > ul li,
.headertop-bar-2 ul li > ul > li a,
.kode-financial-services2 .kode-financial-silde:after,
.kode-financial-services2 .kode-financial-silde:before,
.kode-financial-blog-home2 figure figcaption,
.kode-financial-blog-home2 figure figcaption a,
.button-small a,
.tabs-services ul li a:before,
.tabs-services ul li a,
.tabs-services ul li,
.tabs-services ul li a:after,
.kode-Invest-Business-cols,
.kode-Invest-Business-cols span,
.kode-Invest-Business-cols h6,
.kode-Invest-Business-cols p,
.kode-contect-services2-cols h5,
.kode-contect-services2-cols ul li:before,
.kode-contect-services2-cols figure figcaption a,
.kode-contect-services2-cols,
.kode-contect-services2-cols > a,
.kode-contect-services2-cols figure:before,
.kode-case-3-cols .kode-case3-caption,
.kode-case-3-cols .kode-case3-caption:before,
.kode-case-3-cols .kode-case3-caption:after,
.kode-case-3-cols .kode-case3-caption a i,
.kode-case3-caption a,
.kode-case3-caption p,
.kode-case-studies-blog-4 .kode-financial-blog2-cols figure,
.kode-case-studies-blog-4 .kode-financial-blog2-cols .kode-financial-blog2-caption,
.kode-case-studies-blog-4 .kode-financial-blog2-cols .kode-financial-blog2-caption h4,
.kode-mesnorey-gallery ul li .kode-financial-title,
.kode-mesnorey-gallery ul li,
.kode-case-studies-blog-5 .kode-finacial-project-cols,
.kode-case-studies-blog-5 .kode-finacial-project-cols .kode-finacial-project-caption,
.kode-case-studies-blog-5 .kode-finacial-project-cols .kode-finacial-project-caption p,
.kode-case-studies-blog-5 .kode-finacial-project-cols .kode-finacial-project-caption h6,
.kode-case-studies-blog-5 .kode-finacial-project-cols figure figcaption,
.kode-case-studies-blog-5 .kode-finacial-project-cols figure,
.section-blog01 .blog-page01 .kode-caption-expert a i,
.section-blog01 .blog-page01 .kode-caption-expert a,
.section-blog01 .blog-page01 figure,
.blog-page01 figure figcaption,
.section-blog02 .kode-financial-blog2-cols figure figcaption,
.section-blog02 .kode-financial-blog2-cols figure figcaption a,
.kode-contect-service-cols a,
.kode-contect-service-cols h6,
.kode-contect-service-cols h4,
.kode-contect-service-cols,
.kode-contect-service-cols span,
.kode-mesnorey-gallery ul li .kode-financial-title span,
.kode-our-expert-cols.blog-page01 .kode-caption-expert h3,
.kode-our-expert-cols.blog-page01 .kode-caption-expert a,
.kode-our-expert-cols.blog-page01 figure,
.kode-our-expert.section-blog02 .kode-financial-blog2-cols figure:before,
.kode-case-studies-blog-cols-4 .kode-financial-blog2-cols,
.theme-detail-social-icons ul li,
.theme-detail-social-icons ul li a,
.financial-footer-social-icons ul li,
.financial-footer-social-icons ul li a,
.kode-contect-service-cols:after,
.kode-contect-service-cols:before,
.kode-tags-cols ul li a,
.kode-tags-cols ul li,
.social-note-list ul li span:before,
.social-note-list ul li span:after,
.social-note-list ul li a,
.social-note-list ul li span,
.kode-filker-img .kode-filker-gallery-cols figure figcaption,
.kode-filker-img .kode-filker-gallery-cols figure,
.kode-filker-img .kode-filker-gallery-cols,
.kode-filker-img .kode-filker-gallery-cols figure:before,
.kode-financial-sm-slider-capion ul li,
.kode-financial-sm-slider-capion ul li a,
.kode-financial-sm-slider-capion ul li a i,
.kode-our-expert-cols.blog-page01 figure,
.kode-our-expert-cols.blog-page01 figure:before,
.kode-caption-expert.blog-3 small,
.kode-caption-expert.blog-3 h4:before,
.kode-caption-expert.blog-3 a,
.kode-caption-expert.blog-3 a i,
.kode-our-expert-cols.blog-page03 figure figcaption,
.kode-our-expert-cols.blog-page03 figure,
.kode-our-expert-cols.blog-page03 figure:before,
.kode-our-expert-cols.blog-page03 figure figcaption a,
.kode-bloger-posts .kode-bloger-caption small b,
.kode-bloger-posts .kode-bloger-caption h3,
.kode-bloger-posts .kode-prety-photo-zoom a,
.kode-our-services02 .kode-extend-cols i,
.kode-our-services02 .kode-extend-cols h6 a,
.kode-our-services02 .kode-extend-cols a,
.kode-our-services02 .kode-extend-cols p,
.kode-our-services02,
.kode-our-services02:before,
.kode-our-services02:after,
.kode-social-icons ul li a,
.kode-social-icons ul li,
.kode-financial-error404 ul li,
.kode-financial-error404 ul li a,
.kode-financial-navigaion nav ul li .mega-menu,
.kode-financial-navigaion nav ul li .financial-mega-menu-effect,
.kode-financial-navigaion nav ul li .sub-menu li a,
.kode-financial-navigaion nav ul li .sub-menu li,
.kode-financial-navigaion nav ul li .sub-menu li i,
.hover-menu-caption button,
.mega-menu .kode-mega2-cols ul li,
.mega-menu .kode-mega2-cols ul li a,
.kode-financial-services2 .kode-financial-silde,
.kode-financial-logo-and-nav .kode-financial-navigaion nav ul li .simple-menu,
.kode-financial-logo-and-nav .kode-financial-navigaion nav ul li .simple-menu li,
.kode-financial-logo-and-nav .kode-financial-navigaion nav ul,
.kode-financial-logo-and-nav .kode-financial-navigaion nav ul li .simple-menu li a,
.kode-financial-rt-mediem-button li a,
.kode-up-financial-cols span:before,
.kode-up-financial-cols span,
.kode-up3-financial-navigaion ul li a,
.kode-up3-financial-navigaion ul li,
.kode-financial-socialicons ul li a,
.kode-financial-socialicons ul li,
.kode-financial-up-navigaion-4 .navigaion > ul > li,
.kode-financial-up-navigaion-4 .navigaion ul > li > a,
.kode-up3-financial-navigaion .kode-quote-bt:before,
.footer2-financial-cols figure img,
.footer2-financial-cols figure figcaption,
.footer2-financial-cols,
.footer2-financial-cols figure:before,
.group-columns-financial li a,
.kode-up3-financial-navigaion .kode-financial-megamenu3 .group-megamenu-sami,
.kode-financial-banner .financial-silder .owl-controls .owl-nav .owl-prev:after,
.kode-financial-banner .financial-silder .owl-controls .owl-nav .owl-next:after,
.pp_pic_holder.pp_default .pp_inline .pp_close,
.bottom-buttons .owl-item.active .just-styling:before,
.bottom-buttons .owl-item.active.center .just-styling:before,
.kode-financial-megamenu3 .group-megamenu-sami.simple3-mega,
.financial-consultent-caption i:after,
.financial-consultent-caption i:before,
.financial-consultent-caption i,
.kode-financial-pagination ul li a,
.kode-case-studies-blog-5 .kode-finacial-project-cols figure:before,
.kode-case-3-cols:before,
.kode-financial-blog2-cols figure:before,
nav ul li .simple-menu li:after,
.kode-financial-service-blog-3 .kode_financial_business_fig figure:before,
.kode-financial-service-blog-3 .kode_financial_business_fig figure,
.kode-financial-service-blog-3 .kode_financial_business_fig figure img,
.kode-request-form form button,
.kode-finacial-project-cols figure figcaption a,
.kode-finacial-recent-projects .owl-controls .owl-prev:before,
.kode-finacial-recent-projects .owl-controls .owl-next:before,
.kode-update-newsletter form button,
.footer-financial-quickLinks ul li::before,
.footer-financial-quickLinks ul li a,
.footer-financial-quickLinks ul li,
.financial-banner-3-caption a[title]:after,
.financial-banner-3-caption a,
.financial-banner-3-caption a[title],
.financial-banner-3-caption a:before,
.kode-financial-banner .kode-arrows #slider-prev .bx-prev:before,
.kode-financial-banner .kode-arrows #slider-next .bx-next:before,
.kode-financial-silde figure:after,
.kode-financial-up-navigaion-4 .navigation ul > li > a,
.kode-financial-up-navigaion-4 .navigation ul > li,
.kode-financial-up-navigaion-4 .navigation ul ul,
.kode-qoute-bt-rt a,
.header-sticky .kf_sticky .logo,.header-sticky  .kf_sticky,.header-sticky  .kf_sticky .navbar-nav > li,.header-sticky  .kf_sticky .kd-search,
.kode-blog-list-grid .owl-controls .owl-prev:before,
.kode-blog-list-grid .owl-controls .owl-next:before,
.kode-navigation-sticky,
.kode-navigation-sticky.kf_sticky,
.navigation ul li a,
.navigation ul li ul,
.kode-financial-silde figure:before{
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}
/*
	====================================
		transition 0.3s DELY 0.3S
	====================================
*/
.kode-financial-blog2-cols .kode-financial-blog2-caption a,
.kode-financial-service-blog-3 .kode_financial_business_fig .kode-bussiness-caption-gallery p{
	transition: all 0.3s ease-in-out 0.3s;
	-webkit-transition: all 0.3s ease-in-out 0.3s;
	-moz-transition: all 0.3s ease-in-out 0.3s;
}
.kode-finacialService-slider .kodeslider-section .owl-item.active,
.kode-finacial-recent-projects .owl-item.active.center .kode-finacial-project-cols figure figcaption,
.kode-finacial-recent-projects .owl-item.active.center .kode-finacial-project-caption,
.kode-social-icons-home2 .open > .dropdown-menu,
.kode-team-home2-cols figure:before,
.kode-team-home2-cols,
.kode-team-home2-cols .kode-home2-caption,
.kode-team-home2-cols figure:after,
.kode-financial-blog-home2 > figure:before,
.kode-financial-blog-home2 > figure,
.kode-financial-blog-home2 .kode-financial-blog-caption h5 a,
.kode-financial-blog-home2 .kode-financial-blog-caption small,
.kode-financial-blog2-cols:before,
.kode-financial-service-blog-3 .kode_financial_business_fig .kode-bussiness-caption-gallery,
.section-blog02 .kode-financial-blog2-cols figure:after,
.kode-bloger-posts figure:before,
.kode-bloger-posts figure:after,
.kode-column2-accodien .accordion-close h6 a,
.kode-column2-accodien .accordion-close h6,
.kode-column2-accodien .accordion-close h6 a:before,
.kode-financial-banner .financial-silder .owl-controls .owl-nav .owl-prev,
.kode-financial-banner .financial-silder .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-item,
.kode-qoute-bt-rt a:before,
.kode-financial-navigaion nav ul li .simple-menu li,
.kode-financial-navigaion nav ul li .simple-menu li .simple-menu-enter,
.kode-financial-logo-and-nav.nav2 .kode-financial-navigaion > a
{
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
}
/*
	====================================
			transition-2s
	====================================
*/
.kode-finacialService-slider .kodeslider-section .owl-item,
.kode-social-icons-home2 ul li ul,
.kode-social-icons-home2 li button{
	transition: all 2s ease-in-out;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
}

.kode-finacial-recent-projects .owl-item .kode-finacial-project-cols:before,
.kode-finacial-recent-projects .owl-item .kode-finacial-project-cols:after{
	transition: all 3s ease-in-out;
	-webkit-transition: all 3s ease-in-out;
	-moz-transition: all 3s ease-in-out;
}
.kode-social-icons-home2 li .dropdown-menu,
.kode-financial-blog2-cols .kode-financial-blog2-caption{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}